<!-- Main page -->

<div class="card flex flex-wrap gap-4 justify-center mt-4 ">
  
  <p-button icon="pi pi-plus-circle" (click)="addDepartment()"  severity="success" [raised]="true" label="Add Department" />
  
</div>  &nbsp; &nbsp;



<!-- Department - Employee Table -->

<h1 style="text-align: center;">Employee Information</h1>

<div class="card">
  <p-table [value]="departmentData" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Department Name</th>
        <th>Employee Name</th>
        <th>Employee CNIC</th>
        <th>Employee Job</th>
        <th>Gender</th>
        <th>Age(Y)</th>
        <th>Salary($)</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dept let-rowIndex="rowIndex">
      <tr *ngFor="let emp of dept.employees; let empIndex = index;">
        <td *ngIf="empIndex === 0 ;" class="align-top">
          <div class=>
            <span >{{ dept.departmentName }}</span>
        
            <!-- <div class="flex gap-2 mt-2">
              <p-button icon="pi pi-pencil" [rounded]="true" severity="warn" (click)="editDepartment(rowIndex)"></p-button>
              <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="confirmDeleteDepartment($event, rowIndex)"></p-button>
              
            </div> -->
          </div>
        </td>
       
        <td *ngIf=" empIndex > 0" ></td>
        <td>{{ emp.employeeName }}</td>
        <td>{{ emp.employeeCNIC }}</td>
        <td>{{ emp.employeeJob }}</td>
        <td>{{ emp.employeeGender}}</td>
        <td>{{ calculateAge(emp.employeeDOB)}}</td>
        <td>{{ emp.employeeSalary}}</td>
        <td>
          <div class="flex gap-2 mt-2">
            <p-button icon="pi pi-pencil" [rounded]="true" severity="warn" (click)="editEmployee(rowIndex, empIndex)"></p-button>
            <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="confirmDeleteEmployee($event, rowIndex, empIndex)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>



<!-- Department Dialog for form -->


<div class="card flex justify-center ">
  <p-dialog  [modal]="true" [(visible)]="visible"  (onHide)="closeDialog()" [style]="{ width: '75rem'} " >
    <ng-template pTemplate="header">
      <div class="w-full text-center font-bold text-lg">Employee Form </div>
    </ng-template>
      <form [formGroup]="departmentForm" (ngSubmit)="onFormSubmit()">

          
        <div class="card border border-gray-300 bg-gray-200 p-4 ">
          
              <!--Department Name-->
              <div class=" ml-2 w-18rem">
              <p-inputgroup>
                <p-inputgroup-addon>
                    <i class="pi pi-building"></i>
                </p-inputgroup-addon>
                <input pInputText placeholder="Department Name"  formControlName="departmentName" class="w-full"  [attr.disabled]="deptEditIndex !== null && empEditIndex !== null ? true : null"  />
              </p-inputgroup>
              <small *ngIf="departmentForm.get('departmentName')?.errors?.['required'] && departmentForm.get('departmentName')?.touched" class="p-error mt-1">
                Department name is required.
              </small>

              <small *ngIf="departmentForm.get('departmentName')?.errors?.['pattern']" class="p-error mt-1">
                Department name must contain alphabets only.
              </small>

              <small *ngIf="departmentForm.get('departmentName')?.errors?.['minlength']" class="p-error mt-1">
                Department name must be atleast 2 characters long.
              </small>
        
              <small *ngIf="departmentForm.get('departmentName')?.errors?.['maxlength']" class="p-error mt-1">
                Department name cannot exceed 20 characters.
              </small>
             
            
            </div>
              
              
              <div formArrayName="employees" class="mt-4" >
                <div *ngFor="let emp of Employees().controls; let empIndex=index;" [formGroupName]="empIndex" class="p-3 border border-gray-200 rounded-lg mb-3 bg-gray-50">
                  <div class="flex flex-wrap column-gap-4 row-gap-6">
                  <div class="flex-auto">
                    <p-inputgroup>
                      <p-inputgroup-addon>
                        <i class="pi pi-database"></i>
                      </p-inputgroup-addon>
                      <input pInputText  placeholder="Employee Record: {{empIndex+ 1}}"  class="w-full" [disabled]="true"/>
                    </p-inputgroup>
                  </div> 

                   <!--Remove Employee Button-->
                   <div class="flex-auto  ml-90" *ngIf="!isEditingEmployee">
                    <p-button icon="pi pi-minus" [rounded]="true" severity="danger" (click)="removeEmployee(empIndex)" [raised]="true"  ></p-button>
                  </div>
                  </div> 
                  <div class="flex flex-wrap column-gap-4 row-gap-6 mt-4">

                    

                     <!--Employee Name-->
                    <div class="flex-auto">
                      <p-inputgroup>
                        <p-inputgroup-addon>
                          <i class="pi pi-user"></i>
                        </p-inputgroup-addon>
                        <input pInputText placeholder="Employee Name"   formControlName="employeeName"  class="w-full" />
                      </p-inputgroup>
                      <small *ngIf="emp.get('employeeName')?.errors?.['required'] && emp.get('employeeName')?.touched" class="p-error mt-1">
                        Employee name is required.
                      </small>
                    
                    
              <small *ngIf="emp.get('employeeName')?.errors?.['pattern']" class="p-error mt-1">
                Employee name must contain alphabets only.
              </small>

              <small *ngIf="emp.get('employeeName')?.errors?.['minlength']" class="p-error mt-1">
                Employee name must be atleast 3 characters long.
              </small>
              
              <small *ngIf="emp.get('employeeName')?.errors?.['maxlength']" class="p-error mt-1">
                Employee name cannot exceed 20 characters.
              </small>
                    </div>    

                     <!--Employee CNIC-->
                    <div class="flex-auto">
                      <p-inputgroup>
                        <p-inputgroup-addon>
                          <i class="pi pi-id-card"></i>
                        </p-inputgroup-addon>
                        <input pInputText  placeholder="Employee CNIC" [maxlength]="13"  [ngClass]="{'ng-invalid-cnic': emp.get('employeeCNIC')?.errors?.['uniqueError']}"  formControlName="employeeCNIC" class="w-full" />
                      </p-inputgroup>
                      <small *ngIf="emp.get('employeeCNIC')?.errors?.['required'] && emp.get('employeeCNIC')?.touched" class="p-error mt-1">
                        Employee CNIC is required.
                      </small>
                      <small *ngIf="emp.get('employeeCNIC')?.errors?.['pattern']" class="p-error mt-1">
                        CNIC can contain only 13 digits(0-9).
                      </small>
                      <small *ngIf="emp.get('employeeCNIC')?.errors?.['uniqueError']" class="p-error mt-1">
                        {{emp.get('employeeCNIC')?.errors?.['uniqueError']}}
                      </small>
                    </div>
                  
                     <!--Employee JOB-->
                    <div class="flex-auto">
                      <p-inputgroup>
                        <p-inputgroup-addon>
                          <i class="pi pi-briefcase"></i>
                        </p-inputgroup-addon>
                        <input pInputText placeholder="Employee Job"   formControlName="employeeJob" class="w-full" />
                      </p-inputgroup>
                      <small *ngIf="emp.get('employeeJob')?.errors?.['required'] && emp.get('employeeJob')?.touched" class="p-error mt-1">
                        Employee Job is required.
                      </small>
                    
                    <small *ngIf="emp.get('employeeJob')?.errors?.['pattern']" class="p-error mt-1">
                      Job title must contain alphabets only.
                    </small>
                    </div>

                   
                    
                  
                  &nbsp; &nbsp;

                   
                     <!--Employee Salary-->
                      <div class="flex-auto" >
                        <p-inputgroup>
                          <p-inputgroup-addon>
                            <i class="pi pi-wallet"></i>
                          </p-inputgroup-addon>
                          <input pInputText  placeholder="Employee Salary"   formControlName="employeeSalary" class="w-full"  />
                        </p-inputgroup>
                        <small *ngIf="emp.get('employeeSalary')?.errors?.['required'] && emp.get('employeeSalary')?.touched" class="p-error mt-1">
                          Employee Salary is required.
                        </small>
                        <small *ngIf="emp.get('employeeSalary')?.errors?.['min']" class="p-error mt-1">
                          Salary must be atleast 1000.
                        </small>
                        <small *ngIf="emp.get('employeeSalary')?.errors?.['max']" class="p-error mt-1">
                          Salary cannot be more than 10,000.
                        </small>
                        <small *ngIf="emp.get('employeeSalary')?.errors?.['pattern']" class="p-error mt-1">
                          Salary can contain only digits(0-9).
                        </small>
                      </div>
                <!--Employee DOB-->
                <div class="flex-auto"  >
                  
                  <p-datepicker [maxDate]="todayDate" formControlName="employeeDOB" appendTo="body" dateFormat="dd/mm/yy" placeholder="Date of Birth"  showIcon iconDisplay="input" />
                  
                  <small *ngIf="emp.get('employeeDOB')?.errors?.['required'] && emp.get('employeeDOB')?.touched" class="p-error mt-1">
                    DOB is required. Must follow format dd/mm/yy.
                  </small>

                  <small *ngIf="emp.get('employeeDOB')?.errors?.['minError']" class="p-error mt-1">
                    {{ emp.get('employeeDOB')?.errors?.['minError']}}
                  </small>

                  <small *ngIf="emp.get('employeeDOB')?.errors?.['maxError']" class="p-error mt-1">
                    {{ emp.get('employeeDOB')?.errors?.['maxError']}}
                  </small>  
                </div>

                <!--Employee Gender-->
                <div class="flex-auto" >
                 
                
                <input type="radio"  value="Male" [attr.name]="'employeeGender' + empIndex" formControlName="employeeGender" />
                <label class="ml-1 mr-5">Male</label>
                
                <input type="radio"  value="Female" [attr.name]="'employeeGender' + empIndex" formControlName="employeeGender" />
                <label  class="ml-1 mr-5">Female</label>
                
                <input type="radio"  value="Other" [attr.name]="'employeeGender' + empIndex" formControlName="employeeGender" />
                <label class="ml-1 mr-5">Other</label>
                  
                <small *ngIf="emp.get('employeeGender')?.errors?.['required'] && emp.get('employeeGender')?.touched" class="p-error mt-1">
                  Gender is required.
                </small>
              </div>

              </div>

                 

                 
                  

                </div>
                    <!--Add Employee Button-->
               <div class="flex-auto" *ngIf="!isEditingEmployee ">
                <p-button icon="pi pi-plus-circle"  (click)="addNewEmployee()" [disabled]="!isEmployeeRecordAdded()"  severity="primary"  [raised]="true" label="Add Employee" />
              </div>
             
                
              </div> 
        </div>
        
      </form>
      <ng-template pTemplate="footer">
      <div class="flex justify-end items-center gap-2 mt-4 mr-2 ">
        <p-button [label]="empEditIndex !==null || deptEditIndex !==null ? 'Update' : 'Save'"   (click)="saveDepartment()" />
        <p-button label="Cancel"   severity="danger" (click)="closeDialog()" />
      </div>
    </ng-template>
  </p-dialog>
</div>


<p-toast />
<p-confirmDialog></p-confirmDialog>