.p-error {
    color: red !important; /* Ensure error text is red */
    font-size: 12px; /* Adjust font size */
    display: block; /* Make sure it appears below the input */
    margin-top: 4px;
    
  }


  .ng-invalid-cnic {
    border: 2px solid red;
    background-color: #ffcccc;
  }
  :host ::ng-deep .p-datepicker-calendar {
    display: block;
    height: 200px !important;
    overflow-y: auto;
  }
  
 
  
